.header
  max-width: 1920px
  width: 100%
  height: 150px
  margin: auto
  font-family: "Montserrat", sans-serif
  line-height: 130%
  background: white
  color: #4C4C4C

.header-wrapper
  max-width: 1436px
  padding: 0 18px
  width: 100%
  height: 100%
  margin: auto
  display: flex
  align-items: center
  justify-content: space-between
  gap: 20px

.header p
  margin: 0
  padding: 0
  
.header__logo
  display: flex
  align-items: center
  gap: 24px
  width: 400px
  font-size: 14px

.header__logo img 
  width: 194px

.header__menu
  padding-right: 10px

.header__menu__list
  list-style-type: none
  display: flex
  gap: 24px
  padding: 0
  margin: 0

.header__menu__list__item
  font-size: 18px
  font-weight: 500
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  transition: 0.7s

.header__menu__list__item a
  padding: 8px 24px

.header__menu__list__item_active
  color: #4F58C9
  background: #E9EAF9
  border-radius: 4px

@media (hover:hover)
  .header__menu__list__item:hover
    cursor: pointer
    transform: scale(1.1)

.header__menu__list__item:active
  transition: 0.2s
  transform: scale(0.9)

.header__link
  display: flex
  align-items: center
  gap: 14px

.header__link img
  width: 31px

.header__link__phone
  font-weight: 600
  font-size: 18px
  color: #000000

.header__link__phone p
  font-weight: 400
  font-size: 14px
  color: #4C4C4C

@media (max-width: 1240px)
  .header__logo
    flex-wrap: wrap
    gap: 6px
    width: 280px
  
  .header__menu
    padding-right: 0

  .header__link
    text-align: center

@media (max-width: 899px)
  .header
    height: 110px

  .header-wrapper
    gap: 0

  .header__logo
    width: 320px
    font-size: 12px

  .header__menu
    display: none

  .header__link
    padding: 0 5px 5px 0

  .header__link__phone
    display: none
  